* {
  color: rgb(234, 234, 234);
}

html {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgb(3 7 18);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(107 114 128);
}

.top-index {
  z-index: 999;
}

.table-default-column {
  width: 6rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
