/* @font-face {
  font-family: "SmileySansOblique";
  src: url("~/assets/fonts/SmileySans-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 
body {
  font-family: "SmileySansOblique", sans-serif;
} */

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #727272;
}

::-webkit-scrollbar-track {
  background-color: rgb(var(--v-theme-surface));
}
